* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-square {
  width: 60vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: #f6e7cb;
}
.big-square .square {
  height: 100%;
  display: flex;
}
.big-square .square div {
  width: 100%;
}

.color {
  border-radius: 50%;
  background-color: #678d58;
}
